#tbc-handle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    height: 2rem;
    cursor: row-resize;
}

#twitch-container{
    position: relative;
}
#tbc-clone__twitchui {
    overflow: auto;
    margin-right: -17px;
    list-style: none;
}

#tbc-twitch-chat-list-container {
    display: flex;
    flex-direction: column;
}

li.InjectLayout-sc-1i43xsx-0.gZQijS {
    padding-bottom: 0 !important;
}

#tbc-resize-handle {
    display: flex;
    border-top: 2px solid var(--color-background-alt-2);
    height: 0.5rem;
    margin: 0.5rem;
}

.tbcv2-highlight {
    position: relative;
}

.tbcv2-highlight > :first-child:before {
    position: absolute;
    content: '';
    width: 4px;
    height: 100%;
    background-color: #FFC107;
    left: 0;
    top: 0;
}

.chat-paused-footer {
    z-index: 4444;
}

/* For compatibility with FrankerFaceZ Extension */
div.chat-scroll-footer__placeholder {
    order: 4;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.freeze {
    pointer-events: none;
}