#handle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    height: 2rem;
    cursor: row-resize;
}

#tbc-container{
    position: relative;
}
#tbc-resize-handle {
    display: flex;
    border-top: 2px solid var(--color-background-alt-2);
    height: 0.5rem;
    margin: 0.5rem;
}

.tbcv2-highlight {
    border-left: 4px solid #FFC107;
}

.chat-paused-footer {
    z-index: 4444;
}

/* For compatibility with FrankerFaceZ Extension */
div.chat-scroll-footer__placeholder {
    order: 4;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.freeze {
    pointer-events: none;
}